<nav class="menu">
    <a class="site-title" href="{{ site.baseurl }}/">
      <span>{{ site.title }}</span>
      <span>{{ site.subtitle }}</span>
    </a>
</nav>

<header class="site-header">
    <ul class="block-banner">
      <li>
        <img src="{{ site.image_header1 }}" width="{{ site.size_default_width_img }}" height="{{ site.size_default_height_img }}">
      </li>
      <li>
        <img src="{{ site.image_header2 }}" width="{{ site.size_default_width_img }}" height="{{ site.size_default_height_img }}">
      </li>
      <li>
        <img src="{{ site.image_header3 }}" width="{{ site.size_default_width_img }}" height="{{ site.size_default_height_img }}">
      </li>
    </ul>
    
    <div class="content-header">
      <h1 class="title">{{ site.content-header }}</h1>
      <div class="buttons">
        <a href="javascript:;" class="btn-portfolio btn-primary">Portfólio</a>
        <a href="javascript:;" class="btn-sobre btn-primary">Sobre mim</a>
      </div>
    </div>
  
  <!-- <div class="container-btnScrol">
    <a class="scroll-button" href="javascript:;"></a>
  </div> -->

</header>
